In [1]:
import numpy as np
import pandas as pd

In [4]:
sentences = pd.read_table('eval.txt', header=None)

In [5]:
sentences

,0,1,2
0,20000,A man in a green apron roasts a pig over coals.,The man roasts the pig.
1,20001,A man in a green apron roasts a pig over coals.,The woman is roasting a duck.
2,20002,A man in a green apron roasts a pig over coals.,The Hawaiin man roasts a pig over coals.
3,20003,An Asian man cooking meat over an open grill.,the guy cooks meat
4,20004,An Asian man cooking meat over an open grill.,the guy cooks meat for the family
...,...,...,...
4995,24995,A Food Service Worker sitting on the Counter.,A work is standing serving food.
4996,24996,A Food Service Worker sitting on the Counter.,A person is sitting.
4997,24997,A man sitting on a chair with his legs crossed...,A woman is baking a cake with her daughter.
4998,24998,A man sitting on a chair with his legs crossed...,A man looking off to the right while sitting o...
4999,24999,A man sitting on a chair with his legs crossed...,A man sitting on a chair with his legs crossed...

In [6]:
sentences[1]

0         A man in a green apron roasts a pig over coals.
1         A man in a green apron roasts a pig over coals.
2         A man in a green apron roasts a pig over coals.
3           An Asian man cooking meat over an open grill.
4           An Asian man cooking meat over an open grill.
                              ...
4995        A Food Service Worker sitting on the Counter.
4996        A Food Service Worker sitting on the Counter.
4997    A man sitting on a chair with his legs crossed...
4998    A man sitting on a chair with his legs crossed...
4999    A man sitting on a chair with his legs crossed...
Name: 1, Length: 5000, dtype: object

In [7]:
sentences[1].to_csv('s1.try', sep='\n', index=False)
sentences[2].to_csv('s2.try', sep='\n', index=False)

C:\Users\ASUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.
C:\Users\ASUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

In [9]:
labels = pd.read_table('label.try', header=None)

In [11]:
labels.to_csv('labels.csv', index=False)

## train and test

In [3]:
sentences = pd.read_table('train.txt', header=None)

In [11]:
train = sentences[0:16000]
test = sentences[16000:]

In [15]:
train[1].to_csv('s1.train', sep='\n', index=False)

train[2].to_csv('s2.train', sep='\n', index=False)

train[3].to_csv('label.train', sep='\n', index=False)

C:\Users\ASUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [18]:
test[1].to_csv('s1.dev', sep='\n', index=False)

test[2].to_csv('s2.dev', sep='\n', index=False)

test[3].to_csv('label.dev', sep='\n', index=False)

C:\Users\ASUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.
C:\Users\ASUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\ASUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """